.card-container {
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: auto;
  }

  
  .card-header {
    background-color: #e9f8e9;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .cashless-badge {
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #28a745;
    padding:8px;
    margin-left: 278px;
    border-bottom-left-radius: 30px;
    margin-bottom:250px;
    margin-top: 0;
  }
  
  .card-content {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid  #e9f8e9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card-content-top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
  }

  
  .card-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0 0 5px;
  }
  
  .card-details {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .price-section {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .original-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-right: 10px;
  }
  
  .discount {
    font-size: 14px;
    color: #28a745;
    font-weight: bold;
    background-color: #edf7ee;
  }
  
  .final-price {
    display: flex;
    flex-direction: column;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  
  .onwards {
    font-size: 12px;
    color: #555;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .location {
    font-size: 14px;
    color: #555;
  }
  
  .add-button {
    color: #007bff;
    border:2px solid #007bff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: background-color 0.3s;
    border-radius: 10px;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  